
.plusminus {


}

.fieldset {

    font-family: cursive;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;

    padding: 20px;
    margin: 10px;

}

.reset {

    /*height: 200px;*/

    display: flex;
    flex-direction: row;
    width: 200px;
    align-self: center;
    justify-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;



}

.resetButton{
    display: block;
    width: 100%;


}






















